/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body {
  background: black url (space.jpg) repeat-x top left;
}

.scoreboard {
  background: black;
  border: 1px solid black;
  width: 10%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 10px;
}

.container {
}

span {
  display: block;
  font-family: 'Exo 2', sans-serif;
  font-size: 25px;
  color: white;
}

svg {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
  background-color: black;
}